# Salaries Exercise - 

Welcome to a quick exercise for you to practice your pandas skills! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd ;

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv(r'C:\Users\Supritha\OneDrive\Desktop\salaries\Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
average_basepay = sal['BasePay'].mean()
print("average_basepay :",average_basepay)

average_basepay : 66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
highest_paid = sal.loc[sal['TotalPayBenefits'].idxmax()]
highest_paid[['EmployeeName', 'TotalPayBenefits']]

EmployeeName        NATHANIEL FORD
TotalPayBenefits         567595.43
Name: 0, dtype: object

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
job_title_joseph_driscoll = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
job_title_joseph_driscoll

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:

joseph_driscoll_pay = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
print(f"JOSEPH DISCROLL PAY : {joseph_driscoll_pay}")

JOSEPH DISCROLL PAY : 270324.91

** What is the name of highest paid person (including benefits)?**

In [12]:
highest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmax()]
print(f"The highest-paid person is {highest_paid_person['EmployeeName']} with a total pay of {highest_paid_person['TotalPayBenefits']}.")

The highest-paid person is NATHANIEL FORD with a total pay of 567595.43.

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [16]:
lowest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmin()]
print(f"The lowest-paid person is {lowest_paid_person['EmployeeName']} with a total pay of {lowest_paid_person['TotalPayBenefits']}.")
print("YEAH HIS SALARY WAS IN NEGATIVE VALUE WHICH MAY BE RAISED DUE TO DATAENTRY ERROR IN THE DATASET OR MAYBE OTHER REASONS")

The lowest-paid person is Joe Lopez with a total pay of -618.13.
YEAH HIS SALARY WAS IN NEGATIVE VALUE WHICH MAY BE RAISED DUE TO DATAENTRY ERROR IN THE DATASET OR MAYBE OTHER REASONS

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [17]:
average_basepay_per_year = sal.groupby('Year')['BasePay'].mean()
average_basepay_per_year.loc[2011:2014]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [24]:
unique_job_titles = sal['JobTitle'].nunique()
print(f"The total number of unique job titles are:{unique_job_titles}")

The total number of unique job titles are:2159

** What are the top 5 most common jobs? **

In [30]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
top_5_jobs

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [31]:
sal_2013 = sal[sal['Year'] == 2013]

In [36]:
job_counts = sal_2013['JobTitle'].value_counts()
jobs_with_one_occurrence = job_counts[job_counts == 1].index.tolist()
print("Job titles represented by only one person in 2013:")
for job in jobs_with_one_occurrence:
    print(job)

Job titles represented by only one person in 2013:
Mayor
Adm, SFGH Medical Center
Controller
Parking Hearing Examiner
Court Asst., Superior Court
Administrative Analyst II
IS Operator-Journey
Drug Court Coordinator
Public Safety Comm Tech
Orthopedic Technician 1
Captain, (Fire Department)
District Attorney
Emergency Medical Svcs Chief
Port Director
PrDAInvest,SpecUnit (SFERS)
Ex Asst to the Controller
Animal Care Supervisor
Training Technician
Sr General Utility Mechanic
Farmer
Environmental Hlth Tech 2
Performance Analyst I
Chief Deputy Adlt Probation Of
Signal and Systems Engineer
Junior Clerk Typist
Supply Room Attendant
Special Assistant 14
Senior Offset Machine Operator
Assessor
Industrial Engineer
Mental Health Hearing Officer
Electric Motor Repair Sprv 1
Assistant Inspector
Director, Info Tech Group
Asphalt Plant Supervisor 1
Assistant Inspector 2
IS Trainer-Senior
Real Estate Devt. Mgr, SFMTA
Assistant Director, Probate
Asst Chf, Bur Clm Invest&Admin
Telecommunications Tech Supv
Director, Fiscal Services
Metalsmith
Mayoral Staff VII
Baker
Media Programming Spec
Legislation Clerk
Media Production Specialist
Shelter Officer Supervisor
Assistant Industrial Hygienist
Court Clerk
Court Asst-Sr, Superior Court
Bd/Comm Secretary 3
Depty Sealer of Weights & Meas
Assistant Sheriff
Asst Dir of Clinical Svcs 1
Undersheriff
Media/Security Syst Supv
Senior Morgue Attendant
Airport Communications Officer
Senior Book Repairer
Field Svcs Asst Supv
Senior Transit Traffic Checker
Secretary, Health Commission
Area Sprv Parks, Squares & Fac
Feasibility Analyst, Port
Painter Supervisor 2
Ornamental Iron Wrk Sprv 1
Treasurer
Senior Food Service Supervisor
Electroencephalograph Tech 1
Principal Museum Preparator
Senior Pharmacy Helper
Chief Fire Alarm Dispatcher
Chief Housing Inspector
Power Plant Supervisor 1
Secretary, Comm on the Environ
Conservatorship/Case Mgt Sprv
Trnst Power Line Wrk Sprv 2
Chief Dep Adlt Prob Of (SFERS)
Law Librarian
Chf District Atty Investigator
Forensic Toxicologist
Orthopedic Technician 2
Plumber Supervisor 2
Senior Psychiatric Orderly
Dir, Log Cabin Ranch (SFERS)
Ex Dir, SE Com Fac Comm
Employment & Training Spec 6
Director, Juvenile Hall
Crane Mechanic Supervisor
Mayoral Staff X
Assoc Musm Cnsrvt, AAM
Court Interpreter Supervisor
Sup Welfare Fraud Investigator
Soft Floor Coverer Supvr I
Asst Dir, Log Cabin Rnch
Specialist in Aging 2
Payroll Supervisor
Vet Laboratory Technologist
Chief Adult Probation Officer
Dir Emp Relations Div
Human Resources Director
Court Executive Officer
Communications Director
Director, Probation Services
Chief Telephone Operator
Sr Medical Transcriber Typist
Transit Paint Shop Sprv1
Special Assistant 16
Cement Finisher Supervisor 2
Track Maint Supt, Muni Railway
Librarian 2 - Asian Arts
Sr Employee Asst Counselor
Media Training Specialist
Rent Board Supervisor
Training Coordinator
Supervising Parts Storekeeper
Mech Shop & Equip Supt
Traffic Sign Manager
Crime Lab Mgr
City Shops Asst Superintendent
Statistician
Window Cleaner Supervisor
Graphics Supervisor
Asst Superintendent Rec
Sheet Metal Wrk Supervisor 2
Special Assistant 21
Acupuncturist
Cfdntal Sctry to City Atty
Secretary, Library Commission
Mayoral Staff XII
Pr Investigator, Tax Collector
Emergency Services Coord I
Senior Museum Preparator
Ex Asst to Ex Dir, Retirement
Auto Body & Fender Wrk Sprv 1
Chief Electrical Inspector
Airport Mechanical Maint Sprv
Sr Light Rail Veh Equip Eng
Wharfinger 1
Water Meter Shop Supervisor 1
Shelter Office Asst Supv
Animal Care Asst Supv
Claims Process Clerk
Assistant Law Librarian
Traf Signal Electrician Sup II
Civil Case Settlmnt Specialist
City Attorney
Materials/Supplies Supervisor
Sctry, Juv Probation Comm
Sprv Adult Prob Ofc (SFERS)
Managing Attorney
Wire Rope Cable Maint Sprv
Chief Nursery Specialist
Employee Assistance Counselor
Roofer Supervisor 1
Shade and Drapery Worker
Laboratory Technician I
Senior Transcriber Typist
Chief Plumbing Inspector
Director, Human Resources
Court Reporter Coordinator
Disability Access Coordinator
Director, Probate
Asst Director, Juvenile Hall
Attorney, Tax Collector
Operating Room Nurse
Board Scty, MTA
Market Research Spec, Port
Chf Victim/Witness Invstgtor
Research Psychologist
Special Assistant 15
Senior Plan Checker
Municipal Stadium Groundskpr
Principal Real Property Ofc
Public Defender
Administrator, DPH
Sheriff (SFERS)
Glazier Supervisor 1
Principal Recreation Sprv
Traffic Signal Operator
Administrative Analyst I
Senior Data Entry Operator
Assistant Power House Operator
Sup Ct Admin Secretary
IS Operator-Analyst
Sctry, Human Svcs. Commission
Mgr Museum Security Services
Sr Opers Mgr
Emergency Services Assistant
Gen Mgr, Public Trnsp Dept
Arborist Technician Supv II
Animal Control Supervisor
Chief of Police
Head Photographer
Dep Dir for Investments, Ret
IS Technician Assistant
Chief, Fire Department
Braillist
Victim & Witness Technician
Senior Assessment Clerk

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [37]:
chief_jobs = sal[sal['JobTitle'].str.contains('Chief', case=False, na=False)]

In [38]:
chief_count = chief_jobs.shape[0]

In [39]:
print(f"Number of people with 'Chief' in their job title: {chief_count}")

Number of people with 'Chief' in their job title: 627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [42]:
sal['Job Title Length'] = sal['JobTitle'].str.len()

In [45]:
correlation = sal[['Job Title Length', 'TotalPay']].corr().iloc[0, 1]
print(f"Correlation between job title length and salary: {correlation}")

Correlation between job title length and salary: -0.015356226699097014

# Great Job!